@font-face {
    font-family: 'bulgarian';
    src: url('../public/fonts/zantroke.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

button:focus, a:focus {
    outline: none;
}

.hide-spinner::-webkit-outer-spin-button,
.hide-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-spinner {
    -moz-appearance: textfield;
}